.header__logo {
    max-width: 142px;
    max-height: 33px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2
}

@media screen and (max-width: 420px) {
    .header__logo {
        max-width: 103.74px;
        max-height: 24.4px;
    }
}